<section class="bg-light p-4">
    <div class="container ">
        <div class="row">
            <div class="login-container">
                <div class="login-content">
                    <mat-toolbar class="login-toolbar" color="primary">Change Password</mat-toolbar>
                    <mat-card>
                        <!-- <form [formGroup]="changePWDForm" novalidate (ngSubmit)="onChangePWDSubmit()">

                            <mat-form-field class='mat-fm'>
                                <mat-icon matPrefix>lock_outline</mat-icon>
                                <input type="password" autocomplete="false" matInput placeholder="Enter Old Password" formControlName="oldPassword" required>
                            </mat-form-field>
                            <mat-error class='err-msg' *ngIf='f.oldPassword.dirty && f.oldPassword.value.length == 0'>Old Password is required</mat-error>
                            <mat-form-field class='mat-fm'>
                                <mat-icon matPrefix>lock_outline</mat-icon>
                                <input type="password" autocomplete="false" matInput placeholder="Enter New Password" formControlName="newPassword" required>
                            </mat-form-field>
                            <mat-error class='err-msg' *ngIf='f.newPassword.dirty && f.newPassword.value.length == 0'>New Password is required</mat-error>
                            <mat-form-field class='mat-fm'>
                                <mat-icon matPrefix>lock_outline</mat-icon>
                                <input type="password" autocomplete="false" matInput placeholder="Confirm Password" formControlName="confirmPWD" required>
                            </mat-form-field>
                            <mat-error class='err-msg' *ngIf='f.confirmPWD.dirty && f.confirmPWD.value.length == 0'>Confirm Password is required</mat-error>
                            <div class="row">
                                <a routerLink="/deviceListView" class="text-center col-6" style="margin-top: 15px; padding: 10px" (click)='changePWDForm.reset()'>Cancel</a>
                                <button type="submit" class="btn btn-primary col-6 " style="margin-top: 15px;" [disabled]='changePWDForm.invalid'>Submit</button>
                                
                            </div>
                        </form> -->
                        <form [formGroup]="changePWDForm" novalidate (ngSubmit)="onChangePWDSubmit()">

                            <mat-form-field class='mat-fm'>
                                <mat-icon matPrefix>lock_outline</mat-icon>
                                <input [type]="hide ? 'password' : 'text'" autocomplete="false" matInput placeholder="Enter Old Password" formControlName="oldPassword" minlength='5' maxlength="15" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            <mat-error class='err-msg' *ngIf=' f.oldPassword.invalid && f.oldPassword.dirty && f.oldPassword.value.length == 0'>Old Password is required</mat-error>
                            <mat-error class='err-msg' *ngIf='f.oldPassword.dirty && f.oldPassword.value.length >= 1 && f.oldPassword.value.length < 5'>Minimum 5 charecters required</mat-error>

                            <mat-form-field class='mat-fm'>
                                <mat-icon matPrefix>lock_outline</mat-icon>
                                <input [type]="hideNew ? 'password' : 'text'" autocomplete="false" matInput placeholder="Enter New Password" formControlName="newPassword" minlength='5' maxlength="15" required>
                                <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            <mat-error class='err-msg' *ngIf='f.newPassword.invalid && f.newPassword.dirty && f.newPassword.value.length == 0'>New Password is required</mat-error>
                            <mat-error class='err-msg' *ngIf='f.newPassword.dirty && f.newPassword.value.length >= 1 && f.newPassword.value.length < 5'>Minimum 5 charecters required</mat-error>

                            <mat-form-field class='mat-fm'>
                                <mat-icon matPrefix>lock_outline</mat-icon>
                                <input [type]="hideCnf ? 'password' : 'text'" autocomplete="false" matInput placeholder="Confirm Password" formControlName="confirmPWD" minlength='5' maxlength="15" required>
                                <mat-icon matSuffix (click)="hideCnf = !hideCnf">{{hideCnf ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            <mat-error class='err-msg' *ngIf=' f.confirmPWD.invalid && f.confirmPWD.dirty && f.confirmPWD.value.length == 0'>Confirm Password is required</mat-error>
                            <mat-error class='err-msg' *ngIf='f.confirmPWD.dirty && f.confirmPWD.value.length >= 1 && f.confirmPWD.value.length < 5'>Minimum 5 charecters required</mat-error>

                            <div class="row">
                                <a routerLink="/deviceListView" class="text-center col-6" style="margin-top: 15px; padding: 10px" (click)='changePWDForm.reset()'>Cancel</a>
                                <button type="submit" class="btn btn-primary col-6 " style="margin-top: 15px;" [disabled]='changePWDForm.invalid'>Submit</button>
                                <!--  -->
                            </div>
                        </form>



                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- error Model start -->
<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="popup">
                <mat-toolbar class="login-toolbar" color="primary">Alert</mat-toolbar>
                <mat-card>
                    <h2 class="heading-3"> {{infoMessage}} </h2>
                    <div class="mt-20">
                        <button type="button" data-dismiss="modal" class="cancel-btn btn btn-primary cancel-btn-state" *ngIf="isError">Cancel</button>
                        <button type="button" data-dismiss="modal" class="cancel-btn btn btn-primary cancel-btn-state" *ngIf="!isError">Ok</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<!-- error model end -->