<section class="bg-light p-4">
    <div class="container ">
        <div class="row">

            <!-- forgot -->
            <div class="login-container">
                <div class="login-content">
                    <mat-card>
                        <link rel="stylesheet"
                            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
                        <div class="form-gap"></div>
                        <!-- <div class="container"> -->
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                                            <h2 class="text-center">Forgot Password?</h2>
                                            <p>You can reset your password here.</p>
                                            <div class="panel-body">

                                                <form [formGroup]="forgotPWDForm" novalidate
                                                    (ngSubmit)="onforgotPWDSubmit()">


                                                    <mat-form-field class='mat-fm'>
                                                        <!-- <mat-icon matPrefix>email</mat-icon> -->
                                                        <input autofocus type="email" matInput placeholder="Enter Email"
                                                            formControlName="emailid" required>
                                                    </mat-form-field>
                                                    <mat-error class='err-msg'
                                                        *ngIf='f.emailid.dirty && f.emailid.value.length == 0'>Email is
                                                        required</mat-error>
                                                    <!-- <mat-error class='err-msg' *ngIf="f.email.errors.email">Enter valid Email</mat-error> -->
                                                    <mat-error class='err-msg' *ngIf="f.emailid.errors && f.emailid.errors.pattern">Email must be a valid email address</mat-error>
                     
                                                    <div class="row">
                                                        <a routerLink="/login" class="text-center col-6"
                                                            style="margin-top: 15px; padding: 10px"
                                                            (click)='forgotPWDForm.reset()'>Cancel</a>
                                                        <button type="submit" class="btn btn-primary col-6 "
                                                            style="margin-top: 15px;"
                                                            [disabled]='forgotPWDForm.invalid'>Submit</button>
                                                    </div>
                                                </form>



                                                <!-- <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                            <input id="email" name="email" placeholder="email address" class="form-control" type="email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                                    </div>

                                                    <input type="hidden" class="hide" name="token" id="token" value="">
                                                </form> -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </mat-card>
                </div>
            </div>
            <!-- End forgot -->

        </div>
    </div>
</section>

<!-- error Model start -->
<div id="openModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="popup">
                <mat-toolbar class="login-toolbar" color="primary">Alert</mat-toolbar>
                <mat-card>
                    <h2 class="heading-3"> {{infoMessage}} </h2>
                    <div class="mt-20">
                        <button type="button" data-dismiss="modal" class="cancel-btn btn btn-primary cancel-btn-state"
                            *ngIf="isError">Cancel</button>
                        <button type="button" data-dismiss="modal" class="cancel-btn btn btn-primary cancel-btn-state"
                            *ngIf="!isError">Ok</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<!-- error model end -->