body
{
	font-family: 'Segoe UI';
	font-size: 30px;
}

#navigation a
{
	background-color: #00ccff;
	color: white;
	padding: 3px;
	text-decoration: none;
}

#navigation a.active
{
	background-color: darkgreen;
	text-decoration: underline;
}
