// Colors
$white: #fbfdff;
$black: #21232e;
$brand-color: #029f97;
$brand-color1: #068e87;
$brand-color2: #b94378;
$cream: #E8EBF2;
$shadow-color: #5a5a5a;
$green: rgb(37, 211, 102);
$grey: rgb(204, 217, 227);
// Font colors

// Margins

// widths
$header-height: 80px;
$navigation-width: 170px;
