<!DOCTYPE html>
<html>
<head>
    <title>AngularJS - AJAX - Put</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body, input {
            font-family: Tahoma;
            font-size: 30px;
        }
    </style>

    <script src="Scripts/angular.js"></script>

    <script>
        var app = angular.module("mymodule", []);

        app.controller("mycontroller", function ($scope, $http) {
            $scope.emp = { "EmpID": "", "EmpName": "", "Salary": "" };

            $scope.getdata = function () {
                $http.get("/api/employeesapi/" + $scope.emp.EmpID).success(function (response) {
                    $scope.emp.EmpName = response.EmpName;
                    $scope.emp.Salary = response.Salary;
                }).error(function (err) { alert(JSON.stringify(err)); });
            };

            $scope.savedata = function () {
                $http.put("/api/employeesapi/" + $scope.emp.EmpID, $scope.emp).success(function (response) {
                    alert(response);
                }).error(function (err) { alert(JSON.stringify(err)); });
            };
        });
    </script>
</head>
<body>
    <h1>AngularJS - Ajax - Put</h1>

    <div ng-app="mymodule" ng-controller="mycontroller">
        Emp ID: <input type="text" ng-model="emp.EmpID" />Ex: 1<br />
        <input type="button" value="Get" ng-click="getdata()" /><br />

        Emp Name: <input type="text" ng-model="emp.EmpName" /><br />
        Salary: <input type="text" ng-model="emp.Salary" /><br />

        <input type="button" value="Update" ng-click="savedata()" />
    </div>
</body>
</html>
