body
{
	font: 20px 'Segoe UI';
}

*
{
	margin: 0px;
}

#outercontainer
{
	background-color: #ffccff;
	width: 80%;
	margin: auto;
}

#header
{
	background-color: #00ff99;
	height: 200px;
	width: 100%;
}

#nav
{
	background-color: #ccccff;
	height: 80px;
	width: 100%;
}

#wrapper
{
	height: 500px;
	width: 100%;
}

#leftcol
{
	height: 500px;
	background-color: #66ccff;
	width: 20%;
	float: left;
}

#pagecontent
{
	height: 500px;
	background-color: #ccffcc;
	width: 80%;
	float: left;
}

#footer
{
	height: 50px;
	background-color: #ff0099;
	width: 100%;
	clear: left;
}
