<!DOCTYPE html>
<html ng-app="mymodule">

<head>
    <title>AngularJS Routing Example</title>

    <style type="text/css">
        body, input, table {
            font-family: 'Tahoma';
            font-size: 28px;                
        }
    </style>

    <script src="~/Scripts/angular.min.js">
    </script>

    <script src="~/Scripts/angular-route.min.js">
    </script>

    <script src="~/Scripts/script.js"></script>

</head>

<body>

    <h1>Countries</h1>

    <div ng-view>
    </div>

    <p>This is footer</p>

</body>

</html>
