<h1>Register</h1>
<div id="registrationform">
	
	<form novalidate="novalidate" name="myform">

		<table>

			<tr>
				<td><label for="txtusername">Username:</label></td>
				<td>
					
					<input type="text" id="txtusername" pattern="([A-Za-z0-9-]+)" ng-model="user.username" name="username">

					<span ng-show="myform.username.$dirty && myform.username.$invalid">
						<span style="color:red;" ng-show="myform.username.$error.pattern">
							Special characters not allowed. 
						</span>
					</span>

				</td>
			</tr>

			<tr>
				<td><label for="txtpassword">Password:</label></td>
				<td>

					<input type="password" id="txtpassword" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15})" ng-model="user.password" name="password">
				
					<span ng-show="myform.password.$dirty && myform.password.$invalid">
						<span style="color:red;" ng-show="myform.password.$error.pattern">
						6 to 15 character string with at least one upper case letter, one lower case letter, and one digit.
						</span>
					</span>

				</td>
			</tr>

			<tr>
				<td><label for="txtconfirmpassword">Confirm Password:</label></td>
				<td><input type="password" id="txtconfirmpassword" ng-model="user.confirmpassword" name="confirmpassword"></td>
			</tr>

			<tr>
				<td><label for="txtphone">Phone:</label></td>
				<td>
				
					<input type="text" id="txtphone" pattern="^[789]\d{9}$" ng-model="user.phone" name="phone">
					
					<span ng-show="myform.phone.$dirty && myform.phone.$invalid">
						<span style="color:red;" ng-show="myform.phone.$error.pattern">
						Enter mobile number.
						</span>
					</span>

				</td>
			</tr>

			<tr>
				<td><label for="txtemail">Email:</label></td>
				<td>
					
					<input type="email" id="txtemail" ng-model="user.email" name="email">

					<span ng-show="myform.email.$dirty && myform.email.$invalid">
						<span style="color:red;" ng-show="myform.email.$error.email">
						Enter email address.
						</span>
					</span>
				
				</td>
			</tr>

			<tr>
				<td></td>
				<td><input type="submit" value="Register" ng-click="register()" 
			ng-disabled="!myform.username.$valid || !myform.password.$valid || !myform.confirmpassword.$valid || !myform.phone.$valid || !myform.email.$valid"></td>
			</tr>

		</table>
	
	</form>

</div>
