<html>

<head>
    <title>Home</title>
    <link href="~/Content/styles.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/script.js">
    </script>
</head>

<body>

    <div id="navigation">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </div>

    <div id="content"></div>

</body>

</html>
