p {
    font-family: Lato;
}

.lbl-text {
    position: relative;
    top: 20px;
}

.lbl-font {
    font-weight: 600;
}

.logButton {
    width: 100%;
}

.bg-teal {
    background-color: #236666 !important;
}

.login-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

form {
    width: 100%;
}

.login-content {
    width: 800px;
    display: block;
    margin: 0 auto;
}

.login-toolbar {
    justify-content: center;
    background-color: #003e79;
    color: white;
}

.mat-form-field {
    width: 100%;
    display: block;
}

.mat-raised-button {
    width: 100%;
    margin-top: 15px;
}

.btn-cancel {
    left: 18px;
}

.lbl-cross {
    color: white
}

.form-gap {
    padding-top: 70px;
}

.mat-fm {
    height: 45px;
}


/* modal start */

.cancel-btn-state {
    align: right
}

.mt-20 {
    text-align: right;
}


/* modal end */